/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100vh;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html{
    scroll-behavior: smooth;
    height: 100vh;
}
body {
  background-color: #111;
  font-family: Arial, Helvetica, sans-serif;
}
#main-img-wrapper {
  padding-top: 139px;
  text-align: center;
}
#intro-main {
  color: #fff;
  width: 400px;
  margin: 54px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  font-weight: 500;
  gap: 20px;
  text-align: center;
}

#join-us-texxt{
    margin-top: 73px;
    color: #fff;
    opacity: 0.6;
    font-size: 16px;
    font-weight: 400;
}
@keyframes upAndDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    
    }
    100%{
        transform: translateY(0);
    }

}
#down-arrow-icon{
    width: 33px;
    animation: upAndDown 1s infinite;
}
.emoji{
    opacity: 0.1;
}
.list-item{
    display: inline;
    font-size:42px ;
    font-weight: 600;
}
#list-item-wrapper{
    margin: 0 auto;
    width: 400px;
}
.list-item#on .emoji{
    color: #fff;
    opacity: 1;
}
.list-item#on {
    color: #fff;
  
}
#panel1-img {
    overflow: hidden;
    margin-bottom: 500px;
    position: relative;
    height: 320px;
  }
  
  #flying-santa-image {
    position: absolute;
    right: -10px;
    height: 310px;
    transform: translate(10px, -13px) rotate(18deg); /* Tilted to the left */
}
#video{
    display: block;
margin: 0 auto;
    height: 350px;

}
#video-section{
margin-bottom: 1000px;
}
#fixed-description{
    width: 622px;
    margin: 30px auto 0;
    color:#fff;
    text-align: right;
    font-size: 35px;
    font-weight: 600;
    line-height: 50px;
    transform: translateY(230px);
    opacity: 0;
}

#bank-beyond-wrapper{
    height:380px;
}
#bank-beyond{
    display: flex;
    justify-content:center ;
}
#white-wrapper{
    position: relative;
    background-color: #f7f7f7;
    height:1000px;
    z-index: 1000;
}